################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BLAExercise/DesignTimeBuild
/.vs/BLAExercise/FileContentIndex
/.vs/BLAExercise/v17
/.vs
/BLAExercise.Tests/bin/Debug/net9.0
/BLAExercise.Tests/obj
/BLAExercise.Tests/bin/Release/net9.0
/BLAExercise.Presentation/obj/Debug/net9.0
/BLAExercise.Presentation/obj
/BLAExercise.Presentation/bin/Release/net9.0
/BLAExercise.Presentation/bin/Debug/net9.0
/BLAExercise.Infrastructure/obj
/BLAExercise.Domain/obj
/BLAExercise.Domain/bin/Debug/net9.0
/BLAExercise.Infrastructure/bin
/BLAExercise.Application/obj
/BLAExercise.Application/bin
/BLAExercise.Domain/bin/Release/net9.0
